"Well <%= name %>, you gave me <%= cents %> cents, and I can return that to you in <%= change %>.  Do you have any more cents you would like me to change into coins for you?"

<form>
  <input type="radio" name="choice" value="Yes" checked> Yes<br>
  <input type="radio" name="choice" value="No"> No<br>
  <br><br>
  <input type="submit" value="Submit">
  <body background="rs.jpg">
  <!--<input type="text" name = "name" value = <%= name %> hidden>
  <input type="text" name = "cents" value = <%= cents %> hidden>
  <input type="text" name = "change" value = <%= change %> hidden> -->
</form>